body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  width: 500px;
}

.header-container {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.hero-container {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 30px;
}

.hero-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-image {
  height: 400px;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
  width: 450px;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 15px;
}

h2{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-bottom: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.card img {
  border: solid #3882F6 4px;
  border-radius: 20px;
  height: 150px;
}

.card p {
  color: rgb(102, 102, 102);
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.card-container {
  display: flex;
  gap: 80px;
}